html,
body {
    background-image: url("/images/purple_blob.png");
    background-position: 225% -20%;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 400px;
    height: 500px;
    background-color: var(--bg-secondary-trs);
    backdrop-filter: blur(12px);
    padding: var(--padding-md);
    border-radius: var(--radius-md);
    border: 1px solid var(--border-main);
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
}

#apps {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-rows: repeat(3, 94px);
    gap: var(--padding-sm);
}

#apps > .app {
    padding: var(--padding-sm);
    border: 1px solid var(--border-main);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.4s var(--ea-cubic);
}

#apps > .app:hover {
    background-color: var(--bg-secondary);
}

#apps > .app > p {
    text-align: center;
    font-size: 14px;
}
