@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    /* Colors */
    --bg-main: #121212;
    --bg-secondary: #181818;
    --bg-secondary-trs: #18181888;

    --text-main: #f2f2f2;
    --text-muted: rgba(255, 255, 255, 0.85);
    --text-inverted: #121212;

    --accent: #657dff;

    --border-main: #242424;
    --border-primary: #e4e4e4;
    --border-focus: #646464;

    /* Spacing & Radius */
    --radius-md: 16px;
    --padding-sm: 8px;
    --padding-md: 16px;

    /* Animation */
    --ea-cubic: cubic-bezier(0.21, 0.61, 0.35, 1);
    --transition-speed: 0.2s;

    /* Typography */
    --font-family: "Inter", Arial, sans-serif;
}

html,
body {
    background-color: var(--bg-main);
    font-family: var(--font-family);
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    color: var(--text-main);
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: var(--text-main);
    padding: 0;
    margin: 0;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    position: relative;
    color: var(--text-main);
    font-family: var(--font-family);
}

button > .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--bg-secondary);
    border: solid 1px var(--border-main);
    border-radius: var(--radius-md);
    transition: filter var(--transition-speed) var(--ea-cubic);
}

button > .text {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: var(--padding-sm) var(--padding-md);
}

button:hover > .background {
    filter: brightness(115%);
}

button.primary > .text {
    color: var(--text-inverted);
}

button.primary > .background {
    background-color: var(--text-main);
    border: solid 1px var(--border-primary);
}

button.primary:hover > .background {
    filter: brightness(85%);
}

button:disabled {
    filter: brightness(60%);
    cursor: not-allowed;
}

label {
    text-transform: uppercase;
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 600;
}

input {
    border: solid 1px var(--border-main);
    border-radius: var(--radius-md);
    background-color: var(--bg-secondary);
    color: var(--text-main);
    padding: var(--padding-sm) var(--padding-md);
    font-family: var(--font-family);
    transition: border var(--transition-speed) var(--ea-cubic);
}

input:focus {
    outline: none;
    border: solid 1px var(--border-focus);
}
