name: Slash Command Labeler

on:
    issue_comment:
        types: [created]

jobs:
    add-label:
        # Run only for comments on PRs that contain the command
        # and the author is a collaborator.
        if: >
            github.event.issue.pull_request &&
            contains(github.event.comment.body, '/check-todos') &&
            contains(fromJson('["OWNER", "MEMBER", "COLLABORATOR"]'), github.event.comment.author_association)
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write # Permission to add labels

        steps:
            - name: Add reaction for feedback
              uses: actions/github-script@v7
              with:
                  script: |
                      github.rest.reactions.createForIssueComment({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        comment_id: context.payload.comment.id,
                        content: 'rocket'
                      });
            - name: Add label to PR
              uses: actions/github-script@v7
              with:
                  script: |
                      github.rest.issues.addLabels({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        issue_number: context.issue.number,
                        labels: ['run-todo-check']
                      })
